body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    line-height: inherit;
}

a {
    text-decoration: none;
}

main {
    flex: 1;
}

.container {
    max-width: 72rem;
}
